/*--------------------------------------------------------------

  Template Name: Asbab eCommerce HTML5 Template.
  Description: Asbab is a unique website template designed in HTML with a simple & beautiful look.

---------------------------------------------------------------*/

/* ----------------------------------------------------
	You can put your custom css code here: 
-------------------------------------------------------*/
h1, h2 {
    margin-bottom: 20px;
}

.btn-success {
    background-color: #3bc491;
}

.menu_header {
    color:#3bc491;
    font-size:20px;
}

h2 .big-link {
    font-size:20px;
    color:#3bc491;
}

.htc__category ul li ul {
    margin-left:20px;
}

.htc__category ul li ul li {
    font-size:14px;
    color:#777;
}

.htc__category ul li ul li a{
    color:#777;
}

.price--filter input[type=submit] {
    text-transform: uppercase;
    background: #333333;
    color: #fff;
    padding: 0 22px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 600;
    transition: 0.4s;
    border:0px;
}

.form-group.short {
    width:120px;
}

.form-group.short input {
    width:120px;
}

.buttons-cart input {
    background: #ebebeb none repeat scroll 0 0;
    color: #3f3f3f;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    height: 62px;
    line-height: 62px;
    padding: 0 45px;
    text-transform: uppercase;
    display: inline-block;
}

.buttons-cart input:hover {
    background: #252525 none repeat scroll 0 0;
}

.dark-btn input {
    height: 45px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    background: #212121;
    color: #ffffff;
    padding: 0 45px;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 16px;
    border: 0px;
    transition: all 0.3s ease-in-out 0s;
}

.dark-btn input:hover {
    color: #ffffff;
    background-color: #3bc491;
}

.bilinfo .single-input input.has-error {
    border: solid 1px #a94442;
    background: #f2dede;
}

.title__line--4 {
    margin-bottom: 0px;
}

.ht__cat__list li.active a {
    color:#3bc491;
}